Source: shorewall
Section: net
Priority: optional
Maintainer: Lorenzo Martignoni <lorenzo.martignoni@poste.it>
Uploaders: Matthias Klose <doko@debian.org>
Build-Depends-Indep: debhelper (>> 4.1.16), po-debconf, dpatch
Standards-Version: 3.6.2

Package: shorewall
Architecture: all
Depends: iptables (>= 1.2.7a), iproute, debconf
Suggests: shorewall-doc, kernel-image-2.4 | kernel-image-2.6
Conflicts: ipmasq, knetfilter, firewall-easy, filtergen, uif, webmin-firewall, ipmenu, gnome-lokkit, guarddog, guidedog, ferm, fireflier-server
Recommends: wget
Description: Shoreline Firewall (Shorewall)
 Shorewall is an iptables based firewall that can be used on a dedicated
 firewall system, a multi-function masquerade gateway/server or on a standalone
 Linux system.  
 .
 Shorewall supports these features:
  * Customizable using configuration files.
  * Supports status monitoring with an audible alarm when an "interesting" 
    packet is detected.
  * Include a fallback script that backs out the installation of the most 
    recent version of Shoreline  Firewall and an uninstall script for
    completely uninstalling the firewall.
  * Static NAT is supported.
  * Proxy ARP is supported.
  * Provides DMZ functionality.
  * Support for IPSEC, GRE and IPIP Tunnels.
  * Support for Traffic Control/Shaping 
