Source: shorewall-common
Section: net
Priority: optional
Maintainer: Roberto C. Sanchez <roberto@connexer.com>
Homepage: http://www.shorewall.net
Build-Depends: debhelper (>> 5), dpatch, po-debconf
Standards-Version: 3.7.2

Package: shorewall-common
Architecture: all
Depends: iptables (>= 1.2.7a), iproute, debconf | debconf-2.0
Suggests: shorewall-doc, kernel-image-2.4 | kernel-image-2.6 | linux-image-2.6, make
Conflicts: ipmasq, knetfilter, firewall-easy, filtergen, uif, webmin-firewall, ipmenu, gnome-lokkit, guarddog, guidedog, ferm
Description: Shoreline Firewall, netfilter configurator (common files)
 Shorewall allows you to describe your firewall/gateway requirements
 using entries in a set of configuration files. It reads those
 configuration files and, with the help of the iptables utility,
 configures Netfilter to match your requirements.
 .
 Shorewall supports a wide range of router/firewall/gateway applications,
 traffic shaping and almost every type of VPN.
 .
 This package contains files needed by both the perl-based and
 shell-based compilers.

Package: shorewall
Architecture: all
Depends: shorewall-shell
Description: Shoreline Firewall (transitional package)
 This package is simply to facilitate the transition to shorewall-shell.
 You may remove it at your convenience.

