--- /home/teastep/shorewall/branches/3.4/Shorewall/lib.config	2007-06-22 13:44:06.000000000 -0700
+++ lib.config	2007-06-19 15:56:40.000000000 -0700
@@ -1865,7 +1865,7 @@
 
     if [ -n "$IP_FORWARDING" ]; then
 	case "$IP_FORWARDING" in
-	    On|Off|Keep|on|off|keep|ON|OFF|KEEP)
+	    On|Off|Yes|No|Keep|on|off|yes|no|keep|ON|OFF|YES|NO|KEEP)
 		;;
 	    *)
 		startup_error "Invalid value ($IP_FORWARDING) for IP_FORWARDING"
@@ -1875,6 +1875,44 @@
 	IP_FORWARDING=On
     fi
 
+    if [ -n "$ROUTE_FILTER" ]; then
+	case "$ROUTE_FILTER" in
+	    Yes|yes|YES)
+		ROUTE_FILTER=yes
+		;;
+	    No|no|NO)
+		ROUTE_FILTER=no
+		;;
+	    Keep|keep|KEEP)
+		ROUTE_FILTER=
+		;;
+	    *)
+		startup_error "Invalid value ($ROUTE_FILTER) for ROUTE_FILTER"
+		;;
+	esac
+    else
+	ROUTE_FILTER=
+    fi
+
+    if [ -n "$LOG_MARTIANS" ]; then
+	case "$LOG_MARTIANS" in
+	    Yes|yes|YES)
+		LOG_MARTIANS=yes
+		;;
+	    No|no|NO)
+		LOG_MARTIANS=no
+		;;
+	    Keep|keep|KEEP)
+		LOG_MARTIANS=
+		;;
+	    *)
+		startup_error "Invalid value ($LOG_MARTIANS) for LOG_MARTIANS"
+		;;
+	esac
+    else
+	LOG_MARTIANS=
+    fi
+
     [ -n "${BLACKLIST_DISPOSITION:=DROP}" ]
 
     case "$CLAMPMSS" in
@@ -1886,8 +1924,6 @@
     esac
 
     ADD_SNAT_ALIASES=$(added_param_value_no ADD_SNAT_ALIASES $ADD_SNAT_ALIASES)
-    ROUTE_FILTER=$(added_param_value_no ROUTE_FILTER $ROUTE_FILTER)
-    LOG_MARTIANS=$(added_param_value_no LOG_MARTIANS $LOG_MARTIANS)
     DETECT_DNAT_IPADDRS=$(added_param_value_no DETECT_DNAT_IPADDRS $DETECT_DNAT_IPADDRS)
 
     MACLIST_TARGET=reject
