Source: shorewall-shell
Section: net
Priority: optional
Maintainer: Roberto C. Sanchez <roberto@connexer.com>
Homepage: http://www.shorewall.net
Build-Depends: debhelper (>= 5), dpatch
Standards-Version: 3.7.2

Package: shorewall-shell
Architecture: all
Depends: shorewall-common (>= ${source:Upstream-Version}), shorewall-common (<< ${shorewall:next})
Description:  Shoreline Firewall, Netfilter configurator (shell-based)
 Shorewall allows you to describe your firewall/gateway requirements
 using entries in a set of configuration files. It reads those
 configuration files and, with the help of the iptables utility,
 configures Netfilter to match your requirements.
 .
 Shorewall supports a wide range of router/firewall/gateway applications,
 traffic shaping and almost every type of VPN.
 .
 This version of Shorewall includes a rule compiler written in shell.

