.mstheme
{
	nav-banner-image: url(radbnr.gif);
	separator-image: url(radrule.gif);
	list-image-1: url(radbul1.gif);
	list-image-2: url(radbul2.gif);
	list-image-3: url(radbul3.gif);
	navbutton-horiz-pushed: url(radhsel.gif);
	navbutton-horiz-normal: url(radhbtn.gif);
	navbutton-vert-pushed: url(radvsel.gif);
	navbutton-vert-normal: url(radvbtn.gif);
	navbutton-home-normal: url(radhom.gif);
	navbutton-up-normal: url(radup.gif);
	navbutton-prev-normal: url(radbck.gif);
	navbutton-next-normal: url(radnxt.gif);
}
.mstheme-bannertxt
{
	font-family: times new roman, Times New Roman, Times;
	font-size: 6;
	color: rgb(255,255,255);
}
.mstheme-horiz-navtxt
{
	font-family: arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(51,102,102);
}
.mstheme-vert-navtxt
{
	font-family: arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(51,102,102);
}
.mstheme-navtxthome
{
	font-family: arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(51,102,102);
}
.mstheme-navtxtup
{
	font-family: arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(51,102,102);
}
.mstheme-navtxtprev
{
	font-family: arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(51,102,102);
}
.mstheme-navtxtnext
{
	font-family: arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(51,102,102);
}
UL
{
	list-style-image: url(radbul1.gif);
}
UL UL
{
	list-style-image: url(radbul2.gif);
}
UL UL UL
{
	list-style-image: url(radbul3.gif);
}