.mstheme
{
	nav-banner-image: url(aradbnr.gif);
	separator-image: url(aradrule.gif);
	list-image-1: url(aradbul1.gif);
	list-image-2: url(aradbul2.gif);
	list-image-3: url(aradbul3.gif);
	navbutton-horiz-pushed: url(aradhsel.gif);
	navbutton-horiz-normal: url(aradhbtn.gif);
	navbutton-horiz-hovered: url(aradhhov.gif);
	navbutton-vert-pushed: url(aradvsel.gif);
	navbutton-vert-normal: url(aradvbtn.gif);
	navbutton-vert-hovered: url(aradvhov.gif);
	navbutton-home-normal: url(aradhom.gif);
	navbutton-home-hovered: url(aradhomh.gif);
	navbutton-home-pushed: url(blhomep.gif);
	navbutton-up-normal: url(aradup.gif);
	navbutton-up-hovered: url(araduph.gif);
	navbutton-up-pushed: url(blupp.gif);
	navbutton-prev-normal: url(aradbck.gif);
	navbutton-prev-hovered: url(aradbckh.gif);
	navbutton-prev-pushed: url(blprevp.gif);
	navbutton-next-normal: url(aradnxt.gif);
	navbutton-next-hovered: url(aradnxth.gif);
	navbutton-next-pushed: url(blnextp.gif);
}
.mstheme-bannertxt
{
	font-family: times new roman, Times New Roman, Times;
	font-size: 6;
	color: rgb(255,255,255);
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(102,102,204);
}
.mstheme-vert-navtxt
{
	font-family: arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(102,102,204);
}
.mstheme-navtxthome
{
	font-family: arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(102,102,102);
}
.mstheme-navtxtup
{
	font-family: arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(102,102,102);
}
.mstheme-navtxtprev
{
	font-family: arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(102,102,102);
}
.mstheme-navtxtnext
{
	font-family: arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(102,102,102);
}
UL
{
	list-style-image:url(aradbul1.gif);
}
UL UL
{
	list-style-image:url(aradbul2.gif);
}
UL UL UL
{
	list-style-image:url(aradbul3.gif);
}