/* CSS stylesheet for the upcoming new shorewall website

Author :  Cristian Rodriguez webmaster@shorewall.net

*/

HTML {background: rgb(51, 102, 255); }

BODY {

background: rgb(51, 102, 255);
margin: 0em;

}

.menu { 

font-family : Verdana, Eyechart, Geneva, Arial, Helvetica, sans-serif; 
color : white; 
font-weight: bold;
font-size: small;
padding: 4px;
}

.submenu { 

font-family : Verdana, Eyechart, Geneva, Arial, Helvetica, sans-serif; 
color : white;
font-size: small;
padding: 4px;

}

.copyright

{

text-align: left;
color: white;
font-family: Verdana, Eyechart, Geneva, Arial, Helvetica, sans-serif; 
font-size: xx-small;
}

A:link {color: white; text-decoration: none }
A:active {color: white;text-decoration: none}
A:hover {color: white; text-decoration: underline; }
A:visited {color: #E9E9E9; text-decoration: none; }
